@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}


body {
  background-color: white;
}

.bg-image-login-signup {
  background-image: url('/backgroundLoginSignUp.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-bg-receita {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 290px;
  border-bottom: 1px solid #D9D9D9;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .bg-image {  
  background-image: url('/bg-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  }
}

/* Estilos para desktops */
@media only screen and (min-width: 769px) {
  .bg-image {  
    background-image: url('/desktop-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    }
}


/* Heart like */
.like-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.like-button.liked {
  animation: likeAnimation 1s ease;
}

@keyframes likeAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.like-button.remove {
  animation: unlikeAnimation 1s ease;
}

@keyframes unlikeAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.slick-dots {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.custom-dots .slick-dot {
  width: 10px; /* Adjust the width */
  height: 10px; /* Adjust the height */
  border-radius: 50%; /* Make it circular */
  background-color: #D9D9D9; /* Change the color */
  border: none; /* Remove border */
  margin: 0 5px; /* Adjust spacing between dots */
  cursor: pointer; /* Show pointer cursor */
}

.custom-dots .slick-active .slick-dot {
  background-color: #306754; /* Change active dot color */
}

.slick-dots li button:before  {
  color: transparent !important;
}
.slick-dots li button:after {
  color: transparent !important;
}
