@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white; /* Example color */
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal
}

.bg-image {
  background-image: url('/backgroundLoginSignUp.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}